 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1176px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 2rem;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-text-9 {
  margin: 18px 85px 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 20px 87px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 20px 85px 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 20px 85px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: 20px 85px 0 auto;
}

.u-section-1 .u-text-14 {
  margin: 20px 85px 0 auto;
}

.u-section-1 .u-text-15 {
  margin: 38px auto 0 218px;
}

.u-section-1 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 20px auto 0 610px;
}

.u-section-1 .u-text-18 {
  margin: 20px auto 54px 225px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-17 {
    margin-left: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-17 {
    margin-left: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-15 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 289px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-15 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 182px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 106px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 512px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 504px;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 234px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: -26px 5px 37px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 46px;
  height: 46px;
  background-image: none;
  margin: 23px auto 0;
  padding: 9px;
}

.u-section-2 .u-icon-2 {
  width: 46px;
  height: 46px;
  margin: -46px auto 0 49px;
  padding: 9px;
}

.u-section-2 .u-icon-3 {
  width: 46px;
  height: 46px;
  background-image: none;
  margin: -46px 49px 0 auto;
  padding: 9px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: -26px 5px 37px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 46px;
  height: 46px;
  background-image: none;
  margin: 23px auto 0;
  padding: 9px;
}

.u-section-2 .u-icon-5 {
  width: 46px;
  height: 46px;
  margin: -46px auto 0 49px;
  padding: 9px;
}

.u-section-2 .u-icon-6 {
  width: 46px;
  height: 46px;
  background-image: none;
  margin: -46px 49px 0 auto;
  padding: 9px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 504px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 29px 20px 0 auto;
}

.u-section-2 .u-list-2 {
  margin-bottom: 0;
  margin-top: 18px;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 408px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 3px 14px 35px 0 rgba(0,0,0,0.25);
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 3px 14px 35px 0 rgba(0,0,0,0.25);
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 3px 14px 35px 0 rgba(0,0,0,0.25);
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  box-shadow: 3px 14px 35px 0 rgba(0,0,0,0.25);
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
  box-shadow: 3px 14px 35px 0 rgba(0,0,0,0.25);
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
  box-shadow: 3px 14px 35px 0 rgba(0,0,0,0.25);
}

.u-section-2 .u-container-layout-10 {
  padding: 10px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
  box-shadow: 3px 14px 35px 0 rgba(0,0,0,0.25);
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-list-item-10 {
  background-image: none;
  box-shadow: 3px 14px 35px 0 rgba(0,0,0,0.25);
}

.u-section-2 .u-container-layout-12 {
  padding: 10px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 504px;
}

.u-section-2 .u-container-layout-13 {
  padding: 19px 30px 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 10px 10px 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 70px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 50px;
  margin-top: 70px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 46px;
  height: 46px;
  margin: 2px 0 0 auto;
}

.u-section-2 .u-text-14 {
  margin: -37px auto -18px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 18px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: -48px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 57px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 179px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -46px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-right: auto;
    margin-left: 114px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -46px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-6 {
    margin-right: auto;
    margin-left: 114px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 518px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 29px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-group-1 {
    min-height: 77px;
    margin-top: 37px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -46px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 9px;
    margin-left: 77px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 77px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 9px;
    margin-left: 77px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 77px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: 29px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -34px;
    margin-right: auto;
    margin-left: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-1 {
    margin-left: 39px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 39px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 39px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 39px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 93px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 30px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -46px;
    margin-left: 11px;
  }
}@font-face {
  font-family: 'ExpoArabic-Book';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ExpoArabic-Book.ttf);
}